px
{
    font-size: 14px; /* Paragraphes de 14 pixel*/
    text-align:left;
   
}
h1{
    text-align : center;
    color : #BD8D46;
    
    
 }

h2
{
        font-size: 25px; /* Paragraphes de 14 pixels */
    text-decoration :underline;
    font-style: italic;
    color:#BD8D46;
    margin-left: 170px;
     
}

h3{
    
        font-size: 18px; /* Paragraphes de 14 pixels */
        text-align : left;
    font-style: italic;
    color:#A67E2E;
  
}

nav
{
    position : fixed;
    right :10px;
    top: 10px;
     background-color:#EFF0FF;
    float: left;
    width: 250px;
    border: 3px solid gray;
    border-color: #4BB5C1 ;
       color : #BD8D46;
       text-align : center;
}

ol
{
    
    list-style-type: upper-roman;
    
}

body {
 
 
    color:#5F8CA3;
    text-align: left;
    font-family:sans serif;
    background-image: url("ground.jpg");

    background-repeat: no-repeat;  /* Le fond ne sera pas répété */
    list-style-position:inside;

}

a
{
    text-decoration:none;
   
}


